################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zadanie_2_Klewicki_Durys.zip
